/* General */
#game-wrapper {
    width: 480px;
    height: 800px;

    border: 10px ridge #AAA;
}

/* Death Row Area */
#death-rows-wrapper {
    background-color: #F0F0F0;
}

.death-row-notch,
.death-row-die {
    display: inline-block;
    width: 20px;
    height: 20px;href="style.css"/>
}

.death-row-die {
    outline: 1px solid black;
}

.death-row-notch {
    outline: 1px solid red;
}

/* Dice Area */
#dice-wrapper {
    background-color: #F4F4F4;
}

.form
{
    text-align  : center;
    width       : 350px;
    border      : #000 solid 2px;
}

.dice
{
    width           : 40px;
    height          : 40px;
    float           : left;
    align           : center;
    margin          : 10px;
    border-color    : #000000;
    border-style    : solid;
    border-width    : 4px;
    background      : red;
}

p
{
    margin      : 5px;
    font-size   : 26px;
    font-family : "Times New Roman", Times, serif;
}

.button 
{ 
    width               : 80px;
    border              : #000 solid 2px;
    margin-left         : 128px;
    margin-bottom       : 10px;
}

.pairs
{
    width   : 160px;
    height  : 60px;
    border  : #000 dashed 2px;
}

.shit { width:350px; }

#pair0 { float: left; }

#pair1
{
    float: right;
    margin-left: 22px;
}

/* Point Row Area */
#point-rows-wrapper {
    position: relative;
    background-color: #F8F8F8;
}

#current-score {
    position: absolute;
    right: 0px;
    top: 50%;
}

.point-row-number,
.point-notch-negative,
.point-notch-zero,
.point-notch-2,
.point-notch-3,
.point-notch-4,
.point-notch-5,
.point-notch-6,
.point-notch-7,
.point-notch-8,
.point-notch-9,
.point-notch-10,
.point-notch-11,
.point-notch-12 {
    display: inline-block;
    height: 20px;
}

.point-row-number {
    width: 20px;
}

.point-notch-negative {
    outline: 1px solid red;
    width: 12px;
}

.point-notch-zero {
    outline: 1px solid black;
    width: 20px;
}

.point-notch-2,
.point-notch-3,
.point-notch-4,
.point-notch-5,
.point-notch-6,
.point-notch-7,
.point-notch-8,
.point-notch-9,
.point-notch-10,
.point-notch-11,
.point-notch-12 {
    outline: 1px solid green;
}

.point-notch-10 {
    width: 30px;
}

.point-notch-7 {
    width: 21px;
}

.point-notch-6 {
    width: 18px;
}

.point-notch-5 {
    width: 15px;
}

.point-notch-4 {
    width: 12px;
}

.point-notch-3 {
    width: 9px;
}

.negative-filled {
    background-color: red;
}

.zero-filled {
    background-color: black;
}

.positive-filled {
    background-color: green;
}

