/* General */
#game-wrapper {
    width: 480px;
    height: 800px;

    border: 10px ridge #AAA;
}

/* Death Row Area */
#death-rows-wrapper {
    background-color: #F0F0F0;
    height: 20%;
}

.death-row-notch,
.death-row-die {
    display: inline-block;
    width: 20px;
    height: 20px;href="style.css"/>
}

.death-row-die {
    outline: 1px solid black;
}

.death-row-notch {
    outline: 1px solid red;
}

/* Dice Area */
#dice-wrapper {
    background-color: #F4F4F4;
    height: 30%;
    text-align: center;
}

#dice-row {
    text-align: center;
}

.dice {
    width: 15%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    border-color: #000000;
    border-style: solid;
    border-width: 4px;
}

.death-dice {
    background-color: red; }

.dice p {
    margin: 5px;
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
}

.dice-button {
    width: 80px;
    border: #000 solid 2px;
    display: inline-block;
    margin-bottom: 10px;
}

.pair {
    display: inline-block;
    width: 160px;
    height: 60px;
    border: #000 dashed 2px;
}

/* Point Row Area */
#point-rows-wrapper {
    height: 50%;
    position: relative;
    background-color: #F8F8F8;
    padding: 0px 10px
}

.point-row {
    height: 8.00%;
    margin-bottom: .95%;
}

#current-score {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: 10px;
    margin-top: -30px;
    font-size: 48px;
}

.point-row-number,
.point-notch-negative,
.point-notch-zero,
.point-notch-2,
.point-notch-3,
.point-notch-4,
.point-notch-5,
.point-notch-6,
.point-notch-7,
.point-notch-8,
.point-notch-9,
.point-notch-10,
.point-notch-11,
.point-notch-12 {
    display: inline-block;
    height: 100%;
}

.point-row-number {
    width: 20px;
}

.point-notch-negative {
    outline: 1px solid red;
    width: 3%;
}

.point-notch-zero {
    outline: 1px solid black;
    width: 5%;
}

.point-notch-2,
.point-notch-3,
.point-notch-4,
.point-notch-5,
.point-notch-6,
.point-notch-7,
.point-notch-8,
.point-notch-9,
.point-notch-10,
.point-notch-11,
.point-notch-12 {
    outline: 1px solid green;
}

.point-notch-10 {
    width: 10%;
}

.point-notch-7 {
    width: 7%;
}

.point-notch-6 {
    width: 6%;
}

.point-notch-5 {
    width: 5%;
}

.point-notch-4 {
    width: 4%;
}

.point-notch-3 {
    width: 3%;
}

.negative-filled {
    background-color: red;
}

.zero-filled {
    background-color: black;
}

.positive-filled {
    background-color: green;
}

